@import '_mixins';

.side-menu {
	height: 100%;
	posiion: relative;

	.menu-item {
		@include transition(border-left 300ms);
		position: relative;
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		display: inline-block;
		text-align: center;
		width: 100%;
		
		.menu-icon {
			display: inline-block;
			position: relative;
			margin: 15px 2px 15px 0;
			text-align: center;
			height: 36px;
			width: 36px;

			.icon {
				@include transition(color 200ms);
				line-height: 36px;
				font-size: 18px;
			}
		}

		&.active, &:hover {
			border-left: 2px solid rgb(0, 151, 167);
			.menu-icon {
				.icon {
					color: rgb(0, 151, 167);
				}
			}
		}

		&:not(.active):hover {
			cursor: pointer;
		}

	}
}