@import '_mixins';
@import '_reset';

html, body, #app, .app-wrapper, .main-wrapper, .full-height {
	height: 100%;
}

.app-wrapper {

	* {
		font-family: 'Roboto';
		@include box-sizing(border-box);
	}

	[class*='col-'] {
		padding-left: 0;
		padding-right: 0;
	}

	.fixed-menu, .section {
		height: 100%;
	}
}