@import '_mixins';
@import '_reset';

html {
	zoom: 1;

	* {
		font-family: 'Roboto';
		@include box-sizing(border-box);
	}
	
	// @media screen and (min-width: 992px) {
	// 	body {
	// 		background-color: #c9c9c9;
	// 		text-align: center;

	// 		&:before {
	// 			position: absolute;
	// 			left: 0;
	// 			right: 0;
	// 			margin: auto;
	// 			font-size: 44px;
	// 			text-transform: uppercase;
	// 			content: 'Diminua o navegador';
	// 		}
	// 	}
	// 	.main-wrapper {
	// 		display: none;
	// 	}

	// }
}

#app, .app-wrapper, .main-wrapper, .full-height {
	height: 100%;
}

.app-wrapper {

	[class*='col-'] {
		padding-left: 0;
		padding-right: 0;
	}

	.fixed-menu, .section {
		height: 100%;
		position: relative;
	}

	.loader-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		pointer-events: none;
		text-align: center;
		padding-top: 200px;

		p {
			position: relative;
			z-index: 2;
			background-color: #c9c9c9;
			padding: 15px 80px;
		}

		.loader-bg {
			background-color: white;
			opacity: 0.6;
		}
	}

	.loader,
	.loader:after {
		border-radius: 50%;
		width: 10em;
		height: 10em;
	}
	.loader {
		margin: 60px auto;
		font-size: 10px;
		position: relative;
		text-indent: -9999em;
		border-top: 1.1em solid rgba(110, 164, 171, 0.3);
		border-right: 1.1em solid rgba(110, 164, 171, 0.3);
		border-bottom: 1.1em solid rgba(110, 164, 171, 0.3);
		border-left: 1.1em solid transparent;
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-animation: load8 1.1s infinite linear;
		animation: load8 1.1s infinite linear;
	}
	@-webkit-keyframes load8 {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
	@keyframes load8 {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}


	i {
		font-style: italic;
		display: block;
	}

	.limit-text {
		@include text-overflow(ellipsis);
		width: 80%;			
	}

	.empty-list  {
		width: 100%;
		height: 150px;
		text-align: center;
		display: table;
		margin: auto;
		margin-bottom: 30px;

		> div {
			display: table-cell;
			vertical-align: middle;

			.icon {
				font-size: 30px;
				color: rgb(0, 151, 167);
			}

			p {
				margin-top: 15px;
				font-size: 18px;
			}
		}
	}
}