@import '_mixins';

.row {
	@include clearfix();

	display: inline-block;
	width: 100%;

	$gutterClassNameList: no-gutter, xs, s, m, l, xl;
	$gutterValueList: 0, 15, 30, 45, 60, 90;
	$marginValueList: 0, 7.5, 15, 22.5, 30, 45;
	$columns: 12;

	@for $i from 1 through length($gutterClassNameList) {
		$gutterClassName: nth($gutterClassNameList, $i);
		$gutterValue: nth($gutterValueList, $i);
		$marginValue: nth($marginValueList, $i);

		&.gutter-#{$gutterClassName} {
			> .column {
				margin: 0 #{$marginValue}px 0 #{$marginValue}px;

				@for $k from 1 through $columns {
					&.size-#{$k} {
						width: calc((100% - (#{$columns} / #{$k} - 1) * #{$gutterValue}px) / #{$columns} * #{$k});
					}
				}
			}
		}
	}

	.column {
		float: left;
		
		&:last-of-type {
			margin-right: 0;
		}

		&:first-of-type {
			margin-left: 0;
		}
	}
}