@import '_mixins';

.side-menu {
	background-color: darken(rgb(48, 48, 48), 5);
	height: 100%;
	posiion: relative;

	.menu-item {
		@include transition(border-left 300ms);
		position: relative;
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		display: inline-block;
		text-align: center;
		width: 100%;
		
		.menu-icon {
			display: inline-block;
			position: relative;
			margin: 15px 2px 15px 0;
			text-align: center;
			height: 36px;
			width: 36px;

			.icon {
				@include transition(color 200ms);
				line-height: 36px;
				font-size: 18px;
			}
		}

		.menu-name-tag {
			@include transition(transform 400ms, opacity 300ms);
			@include transform(scale(0));
			@include box-shadow(0px 2px 10px 0px, rgba(196, 186, 196, 0.4))
			cursor: pointer;
			position: absolute;
			bottom: 15px;
			left: 65px;
			text-transform: uppercase;
			font-size: 11px;
			padding: 15px 30px;
			color: white;
			background-color: rgb(48, 48, 48);
			opacity: 0;
			z-index: 4;
		}

		&.active, &:hover {
			border-left: 2px solid rgb(255, 64, 129);
			.menu-icon {
				.icon {
					color: rgb(255, 64, 129);
				}
			}
		}

		&:not(.active):hover {
			cursor: pointer;
			.menu-name-tag {
				@include transform(scale(1));
				opacity: 1;
			}
		}

	}
}