@import '_mixins';
@import '_reset';

html, body, #app, .app-wrapper, .main-wrapper, .row, .col {
	height: 100%;
}

.app-wrapper {
	background-color: rgb(48, 48, 48);

	* {
		font-family: 'Roboto';
	}

	.fixed-menu, .section {
		display: inline-block;
		height: 100%;
	}
}